@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: mix(#fff, $background-color, 20%);
    border-color: mix(#fff, $border-color, 20%);
    color: $color;
  }

  &:active {
    background: mix(#000000, $background-color, 10%);
    border-color: mix(#000000, $border-color, 10%);
    color: $color;
    outline: none;
  }

  &.is-active {
    background: mix(#000000, $background-color, 10%);
    border-color: mix(#000000, $border-color, 10%);
    color: $color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: mix($background-color, #fff);
      border-color: mix($border-color, #fff);
    }
  }
}
